.footer-cont {
    
    color: rgba(255, 255, 255, 0.35);
    background-color: #f3f3f3;
    color: rgba(5, 5, 5, 0.55);
}
.footer-cont h6 {
    width: 100%;
    /* color: rgba(255, 255, 255, 0.7); */
    text-align: center;
    padding: 0.55em 0;
}
.footer-cont h6::after {
    border: 1px inset rgba(0, 0, 0, 0.2);
    display: block;
    content: "";
    margin: 1em auto 1em auto;
    width: 30%;
    height: 1px;
}
.footer-cont a {
    color:#C60030;
}
.footer-cont a:hover {
    color:#fff;
}

.copy-info {
    background-color: #35404E;
    padding-top: 1em;
}
.sloka {
    color: #999;
}

.footer-links a {
    display: inline-block;
    margin: 0 1em 0.25em 0;   
}
.footer-links a:hover {
    color: white;
}