.footer-cont {
    border-top: 1px solid #dedede;
    color: rgba(255, 255, 255, 0.35);
    background-color: #f3f3f3;
    color: rgba(5, 5, 5, 0.55);
    margin-top: 4em;
}

.footer-cont h6 {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 0;
    text-align: center;
    margin-bottom: 2em;
  }

  .footer-cont h6:before {
    content: "";
    height: 1px;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100px;
}
.footer-cont h6:after {
    content: "";
    width: 30px;
    height: 2px;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    left: calc(50% - 15px);
}

.footer-cont .footer-links a {
    display: inline-block;
    margin: 0 1em 0.25em 0;   
}

.footer-cont .social-links  {
    text-align: center;
}
.footer-cont a {
    color:#C60030;
}
.footer-cont a:hover {
    color:black;
}

.copy-info {
    background-color: #35404E;
    padding-top: 1em;
}
.footer-cont a.bnav {
    color:#ccc;
    text-decoration: none;
}
.sloka {
    color: #999;
}



.footer-cont .social-links a {
    margin-right: 1em;
}



p.small a {
    margin-left: 1em;
}