<section class="sections">

    <div class="row">
        <div class="col-12">
            <h2 class="section-title">About Me</h2>
        </div>

    </div>
    <div class="row">

        <!-- pro me -->
        <div class="col-lg-6 col-md-12">
            <div class="w-100">
                <h5>Professional Me</h5>
            </div>
            <p class="rtext pr-3">Offering over 12+ years of IT experience backed by 8+ years of UX & UI Design. I help businesses worldwide to define & optimise seamless user experiences creating meaningful user-centered digital products.
                I'm mostly self-taught, I bring to the table a lot of solutions to the real world challenges in the
                fields of RIA design and development, user-centric design approach and a great ROI with my usability
                investment. Passionate about end user's satisfaction, I always focus on UCD methodologies, I create efficient and innovative experiences that balance user needs and business goals. I make sure all my developed UIs are pixel perfect, responsive, semenatically coded, accessible compliant and user tested.</p>
            <p><a class="btn btn-hallow" href="assets/doc/UX and UI Designer.pdf" title="Download My Resume" target="_blank">Download Resume <i class="fas fa-file-download"></i></a></p>
        </div>
        <!-- /pro me-->



        <!-- pme -->
        <div class="col-lg-6 col-md-12">
            <div class="w-100">
                <h5>Personal Me</h5>
            </div>
            <p>I’m an avid dreamer who enjoys solving problems and making a positive impact through design. I
                specialise in UI/UX design for mobile and web and I also dabble in web development when needed. In
                my spare time, I like to work on side projects and enjoy playing sports, drinking coffee, building
                computers, coding and travelling.</p>
            <p>This portfolio is UI focused, but if you want to see detailed case study of some of my work, feel
                free to contact me. BTW did you see my Photography & Video skills? If No, please have a look by clikcing below button</p>
            <p><a class="btn btn-hallow" href="/gallery" title="Photo & Video Gallery" target="_blank">View Gallery ⇢</a></p>
        </div>
        <!-- /pme-->

    </div>

</section>