<section class="sections">

    <div class="row">
        <div class="col-12">
            <h2 class="section-title">About Me</h2>
        </div>

    </div>
    <div class="row">

        <!-- pro me -->
        <div class="col-lg-6 col-md-12">
            <div class="w-100">
                <h5>Professional Me</h5>
            </div>
            <p class="rtext">
                I'm mostly self-taught, bring to the table a lot of solutions to the real world challenges in the
                fields of RIA design and development, user-centric design approach and a great ROI with my usability
                investment. Passionate about User Experience and User Interface Design. Whenever I create something
                I always focus on user-centered design methodologies, I create efficient and innovative experiences
                that balance user needs and business goals. During my work process, I dedicate my time on business
                and user goals. I make sure all my designs are pixel perfect and user tested. I discovered my
                insatiable curiosity for design when I began doodling comics on any whitespace that I could find in
                my notebook. A dopamine-fuelled sense of satisfaction using my creativity to solve problems
                propelled me into learning more about the diverse craft. Inevitably, this led me onto a path of
                self-discovery.</p>



            <p><a class="btn" href="javascript:void(0);">Download My Resume <i class="fa fa-file-pdf"></i></a></p>

        </div>
        <!-- /pro me-->



        <!-- pme -->
        <div class="col-lg-6 col-md-12">
            <div class="w-100">
                <h5>Personal Me</h5>
            </div>
            <p>I’m an avid dreamer who enjoys solving problems and making a positive impact through design. I
                specialise in UI/UX design for mobile and web and I also dabble in web development when needed. In
                my spare time, I like to work on side projects and enjoy playing sports, drinking coffee, building
                computers, coding and travelling.</p>

            <p>This portfolio is UI focused, but if you want to see detailed case study of some of my work, feel
                free to contact me.</p>
        </div>
        <!-- /pme-->

    </div>

</section>