<section class="sections">
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h3 class="section-title">Experience</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
        <ag-grid-angular
            style="height: 300px;"
            class="ag-theme-balham"
            [gridOptions]="gridOptions"
            (gridReady)="onGridReady($event)"
            [rowData]="rowData"
            [columnDefs]="columnDefs">
        </ag-grid-angular>
    </div>
    </div>
</div>
</section>