<section
  id="parallax1"
  class="home-section parallax text-light"
  data-stellar-background-ratio="0.5"
  style="background-position: 50% 1218.55px;"
>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h2
            class="big-heading highlight-dark wow bounceInDown animated"
            data-wow-delay="0.2s"
            style="
              visibility: visible;
              -webkit-animation-delay: 0.2s;
              -moz-animation-delay: 0.2s;
              animation-delay: 0.2s;
            "
          >
            We start from pixel perfect pattern
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>

<p>
  Have you ever felt worried that your party guests will not raise up to your
  expectations? In the design, vertical rhythm is the structure that guides a
  reader's eye through the content. Good vertical rhythm makes a more balanced
  and beautiful layout and its content more readable. The time signature on the
  sheet music visually depicts a song's rhythm, while for us, the lines of the
  baseline grid depict the rhythm of our content and give us guidelines. My
  teacher, Stephanie Helle Have you ever felt worried that your party guests
  will not raise up to your expectations? In the design, vertical rhythm is the
  structure that guides a reader's eye through the content. Good vertical rhythm
  makes a more balanced and beautiful layout and its content more readable. The
  time signature on the sheet music visually depicts a song's rhythm, while for
  us, the lines of the baseline grid depict the rhythm of our content and give
  us guidelines.
</p>
