.blog .item .post-img {
    position: relative;
    overflow: hidden;
  }
  .blog .item .post-img:hover img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  .blog .item .post-img img {
    width: 100%;
    -webkit-filter: none;
    filter: none;
    transition: 0.3s;
  }
  .blog .item .content {
    padding: 30px;
    text-align: left;
    background-color: white;
  }
  .blog .item .content .tag {
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 5px;
    letter-spacing: 1px;
  }
  .blog .item .content .read-more {
    margin-top: 20px;
    color: #232323;
    font-weight: 600;
  }
  .blog .item .content .read-more:hover {
    text-decoration: underline;
  }
  .blog .item .content p {
    margin-bottom: 10px;
    line-height: normal;
  }
  .blog .item .content h5 {
    font-size: 16px;
    line-height: normal;
    text-transform: inherit;
  }
  .blog .item .content h5 a {
    color: #232323;
  }
  .blog-nav {
    position: static !important;
    background: #fff !important;
    margin: 0;
    top: 0 !important;
    transform: translateY(0px) !important;
  }
  .blog-nav .logo {
    color: #1c1c1c !important;
  }
  .blog-nav .navbar-nav .nav-link {
    color: #828282;
  }
  .blog-nav .navbar-nav .nav-link:hover {
    color: #232323;
  }
  .blog-nav.navbar .icon-bar {
    color: #232323;
  }
  .blog-header {
    background: #232323;
    position: relative;
  }
  .blog-header h5 {
    font-weight: 700;
    letter-spacing: 1px;
    color: #d6d5d5;
    margin-bottom: 15px;
  }
  .blog-header a {
    position: relative;
    color: #d5d5d5;
  }
  .blog-header a:after {
    content: "/";
    position: relative;
    margin: 0 10px;
  }
  .blog-header a:last-child:after {
    display: none;
  }
  .blog-header a:hover {
    color: #fff;
  }
  .blog-header a.active {
    color: #fff;
  }
  .blogs .posts .post {
    margin-bottom: 30px;
  }
  .blogs .posts .post .content {
    padding: 30px;
    background: #fafafa;
  }
  .blogs .posts .post .content .post-title h5 {
    font-size: 26px;
    line-height: normal;
    font-weight: 500;
    margin-bottom: 0;
  }
  .blogs .posts .post .content .post-title h5 a {
    color: #232323;
  }
  .blogs .posts .post .content .post-title h5 a:hover {
    color: #232323;
  }
  .blogs .posts .post .content .meta {
    margin-bottom: 15px;
  }
  .blogs .posts .post .content .meta li {
    display: inline-block;
    font-size: 12px;
    color: #777;
    margin: 5px;
  }
  .blogs .posts .post .content .spical {
    padding: 15px;
    margin: 30px 0;
    border-left: 2px solid #111;
    background: #f7f7f7;
    font-size: 16px;
  }
  .blogs .posts .post .share-post {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px dashed #eee;
    text-align: left;
  }
  .blogs .posts .post .share-post span {
    font-weight: 700;
  }
  .blogs .posts .post .share-post ul {
    float: right;
  }
  .blogs .posts .post .share-post ul li {
    display: inline-block;
    margin: 0 10px;
  }
  .blogs .posts .post .post-img img {
    width: 100%;
  }
  .blogs .posts .title-g h3 {
    font-weight: 700;
    font-size: 25px;
  }
  .blogs .posts .comments-area .comment-box {
    padding-bottom: 30px;
    margin-bottom: 50px;
    border-bottom: 1px solid #eee;
  }
  .blogs .posts .comments-area .comment-box:nth-child(odd) {
    margin-left: 80px;
  }
  .blogs .posts .comments-area .comment-box:last-child {
    margin-bottom: 30px;
  }
  .blogs .posts .comments-area .comment-box .author-thumb {
    width: 80px;
    float: left;
  }
  .blogs .posts .comments-area .comment-box .comment-info {
    margin-left: 100px;
  }
  .blogs .posts .comments-area .comment-box .comment-info h6 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .blogs .posts .comments-area .comment-box .comment-info .reply {
    margin-top: 10px;
    font-weight: 600;
  }
  .blogs .posts .comments-area .comment-box .comment-info .reply i {
    padding-right: 5px;
    font-size: 12px;
  }
  .blogs .posts .pagination {
    border-radius: 0;
    padding: 0;
    margin: 0;
  }
  .blogs .posts .pagination ul {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 0 auto;
    padding: 0;
  }
  .blogs .posts .pagination li {
    display: inline;
  }
  .blogs .posts .pagination a {
    float: left;
    padding: 0 18px;
    line-height: 40px;
    text-decoration: none;
    border: 1px solid #dbdbdb;
    border-left-width: 0;
    background: #fff;
  }
  .blogs .posts .pagination a:hover {
    background-color: #232323;
    color: #fff;
  }
  .blogs .posts .pagination .active a {
    background-color: #f7f7f7;
    color: #999;
    cursor: default;
  }
  .blogs .posts .pagination .disabled span {
    color: #999;
    background-color: transparent;
    cursor: default;
  }
  .blogs .posts .pagination .disabled a {
    color: #999;
    background-color: transparent;
    cursor: default;
  }
  .blogs .posts .pagination .disabled a:hover {
    color: #999;
    background-color: transparent;
    cursor: default;
  }
  .blogs .posts .pagination li:first-child a {
    border-left-width: 1px;
  }
  .blogs .side-bar .widget {
    margin-bottom: 30px;
  }
  .blogs .side-bar .widget:last-child {
    margin-bottom: 0;
  }
  .blogs .side-bar .widget .widget-title h6 {
    position: relative;
    padding-bottom: 5px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .blogs .side-bar .widget .widget-title h6:after {
    content: "";
    width: 30px;
    height: 1px;
    background: #232323;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .blogs .side-bar .widget li {
    position: relative;
    padding: 0 0 0 12px;
    margin: 0 0 9px 0;
    color: #6f6f6f;
  }
  .blogs .side-bar .widget li:last-child {
    margin: 0;
  }
  .blogs .side-bar .widget li:after {
    content: "";
    width: 5px;
    height: 1px;
    background-color: #6f6f6f;
    position: absolute;
    top: 12px;
    left: 0;
  }
  .blogs .side-bar .widget .social-listing {
    margin-bottom: 0;
  }
  .blogs .side-bar .widget .social-listing li {
    list-style: none;
    display: inline-block;
  }
  .blogs .side-bar .widget .social-listing li:after {
    background: none;
  }
  .blogs .side-bar .widget .social-listing li:first-child {
    padding-left: 0;
  }
  .blogs .side-bar .search form input {
    width: calc(100% - 50px);
    height: 50px;
    padding: 0 10px;
    margin: 0;
    border: 1px solid #d1d1d1;
    background: #f7f7f7;
  }
  .blogs .side-bar .search form button {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #1c1c1c;
    color: #fff;
    border: 0;
    float: right;
  }