<section class="blog sections">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="section-title">Blog</h2>
            </div>
        </div>
        <div class="row">

            <!-- start blog -->
            <div class="col-lg-4">
                <div class="item text-center">
                    <div class="post-img">
                        <img src="assets/img/blog/1.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="tag">
                            <a href="blog.html">Designing | <span class="font-size12 display-inline-block">02 May 2018</span></a>
                        </div>
                        <h5 class="margin-15px-bottom"><a href="single-post.html">Designing work with us</a></h5>
                        <p>Dolorem ipsum quia dolor consectetur, amet adipisci velit, sed quia non eius numquam modi tempora.</p>
                        <a href="single-post.html" class="read-more">Read more →</a>
                    </div>
                </div>
            </div>
            <!-- end blog -->

            <!-- start blog -->
            <div class="col-lg-4 sm-margin-20px-bottom">
                <div class="item text-center">
                    <div class="post-img">
                        <img src="assets/img/blog/2.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="tag alt-font font-weight-300">
                            <a href="blog.html">Positive | <span class="display-inline-block">11 April 2018</span></a>
                        </div>
                        <h5 class="margin-15px-bottom"><a href="single-post.html">Always think be positive</a></h5>
                        <p>Consectetur dolorem ipsum quia dolor sit amet, adipisci velit, sed quia non numquam eius modi tempora.</p>
                        <a href="single-post.html" class="read-more">Read more →</a>
                    </div>
                </div>
            </div>
            <!-- end blog -->

            <!-- start blog -->
            <div class="col-lg-4">
                <div class="item text-center">
                    <div class="post-img">
                        <img src="assets/img/blog/3.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="tag alt-font font-weight-300">
                            <a href="blog.html">Meeting | <span class="font-size12 display-inline-block">04 March 2018</span></a>
                        </div>
                        <h5 class="margin-15px-bottom"><a href="single-post.html">Meeting with our clients</a></h5>
                        <p>Numquam dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi.</p>
                        <a href="single-post.html" class="read-more">Read more →</a>
                    </div>
                </div>
            </div>
            <!-- end blog -->

        </div>
        <div class="row py-5">
            <div class="col-4">
                <div class="col-12 text-center">
                    <h5 class="section-title">Recent Tweets</h5>
                </div>
                <div class="tweets-cont">
                    <a class="twitter-timeline" data-height="500" data-theme="light" href="https://twitter.com/tosrisri?ref_src=twsrc%5Etfw">Tweets by tosrisri</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
            <div class="col-8">
                <div class="col-12 text-center">
                    <h5 class="section-title">Recent Insta Posts</h5>
                </div>
                <div class="insta-feed">
                    <div id="pixlee_container"></div><script type="text/javascript">window.PixleeAsyncInit = function() {Pixlee.init({apiKey:'null'});Pixlee.addSimpleWidget({widgetId:'null'});};</script><script src="//instafeed.assets.pxlecdn.com/assets/pixlee_widget_1_0_0.js"></script>
                </div>
            </div>
        </div>
    </div>
</section>