/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-balham.css";

/* global variables in the :root class */
:root {
    --pri-color: #6f6f6f;
    --sec-color: #444;
    /* --ter-color: #C60030; */
    --ter-color: #D5003A;
  }

body {
    background-color: #E2EAEF;
    font-size: 1em;
    font-weight: 100;
    line-height: 1.6;
    color: var(--pri-color);
}

h1,h2,h3,h4,h5,h6 {
    color: var(--sec-color);
}
p {
    font-size: 1.3em;
}
.jumbotron {
    background: none;
}

.ccont1 h1#myName {
    font-weight: 4em !important;
}

.btn {
    display: inline-block;
    font-size: 14px;
    padding: 9px 22px;
    background: var(--ter-color);
    border: 1px solid #fff;
    border-radius: 25px;
    box-shadow: rgba(0,0,0,0.1) 0px 2px 1px !important;
    color: whitesmoke;
    letter-spacing: .5px;
    line-height: inherit;
    width: auto;
    font-weight: 400;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
.btn:hover, .btn:active {
    background: #232323;
    color: #fff;
    border-color: #fff;
    box-shadow: rgba(0,0,0,0.3) 0px 3px 8px !important;
}

/* Section Titles */
.section-title {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 0;
    text-align: center;
    margin-bottom: 2em;
    text-transform: uppercase;
  }
  .section-title:after {
    content: "";
    width: 60px;
    height: 2px;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    left: calc(50% - 30px);
  }
  .section-title:before {
    content: "";
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 250px;
  }
  .section-title.style2:after {
    content: "";
    width: 50px;
    height: 2px;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    left: calc(50% - 30px);
  }
  .section-title.style2:before {
    content: none;
  }
  .section-title.white {
    color: #fff;
  }
  .section-title.white:after {
    background: rgba(255, 255, 255, 0.6);
  }
  .section-title.white:before {
    background: rgba(255, 255, 255, 0.2);
  }

.sections {
    padding: 5em 0;
}

/* Table Sorting - Experience styles */
/* Sortable table demo */

th[sortable] {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

th[sortable].desc:before, th[sortable].asc:before {
  content: '';
  display: block;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAmxJREFUeAHtmksrRVEUx72fH8CIGQNJkpGUUmakDEiZSJRIZsRQmCkTJRmZmJgQE0kpX0D5DJKJgff7v+ru2u3O3vvc67TOvsdatdrnnP1Y///v7HvvubdbUiIhBISAEBACQkAICAEhIAQ4CXSh2DnyDfmCPEG2Iv9F9MPlM/LHyAecdyMzHYNwR3fdNK/OH9HXl1UCozD24TCvILxizEDWIEzA0FcM8woCgRrJCoS5PIwrANQSMAJX1LEI9bqpQo4JYNFFKRSvIgsxHDVnqZgIkPnNBM0rIGtYk9YOOsqgbgepRCfdbmFtqhFkVEDVPjJp0+Z6e6hRHhqBKgg6ZDCvYBygVmUoEGoh5JTRvIJwhJo1aUOoh4CLPMyvxxi7EWOMgnCGsXXI1GIXlZUYX7ucU+kbR8NW8lh3O7cue0Pk32MKndfUxQFAwxdirk3fHappAnc0oqDPzDfGTBrCfHP04dM4oTV8cxr0SVzH9FF07xD3ib6xCDE+M+aUcVygtWzzbtGX2rPBrEUYfecfQkaFzYi6HjVnGBdtL7epqAlc1+jRdAap74RrnPc4BCijttY2tRcdN0g17w7HqZrXhdJTYAuS3hd8z+vKgK3V1zWPae0mZDMykadBn1hTQBLnZNwVrJpSe/NwEeDsEwCctEOsJTsgxLvCqUl2ACftEGvJDgjxrnBqkh3ASTvEWrIDQrwrnJpkB3DSDrGW7IAQ7wqnJtkBnLRztejXXVu4+mxz/nQ9jR1w5VB86ejLTFcnnDwhzV+F6T+CHZlx6THSjn76eyyBIOPHyDakhBAQAkJACAgBISAEhIAQYCLwC8JxpAmsEGt6AAAAAElFTkSuQmCC') no-repeat;
  background-size: 22px;
  width: 22px;
  height: 22px;
  float: left;
  margin-left: -22px;
}

th[sortable].desc:before {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}

/* Filtering table demo */
ngbd-table-filtering span.ngb-highlight {
  background-color: yellow;
}

/* Complete table demo */
ngbd-table-complete span.ngb-highlight {
  background-color: yellow;
}
