<div class="row">
  <div class="col-md-6">
    <div class="papers text-center">
      <img src="assets/img/1.jpg" alt="" />
      <h4 class="">My teacher John Vandeley</h4>
      <p>
        Have you ever felt worried that your party guests will not raise up to
        your expectations? In the design, vertical rhythm is the structure that
        guides a reader's eye through the content. Good vertical rhythm makes a
        more balanced and beautiful layout and its content more readable. The
        time signature on the sheet music visually depicts a song's rhythm,
        while for us, the lines of the baseline grid depict the rhythm of our
        content and give us guidelines.
      </p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="papers text-center">
      <img src="./assets/img/2.jpg" alt="" />
      <h4 class="">My teacher, Stephanie Helle</h4>
      <p>
        Have you ever felt worried that your party guests will not raise up to
        your expectations? In the design, vertical rhythm is the structure that
        guides a reader's eye through the content. Good vertical rhythm makes a
        more balanced and beautiful layout and its content more readable. The
        time signature on the sheet music visually depicts a song's rhythm,
        while for us, the lines of the baseline grid depict the rhythm of our
        content and give us guidelines.
      </p>
    </div>
  </div>
</div>
