<section>

  <div class="jumbotron mx-5 px-5">
    <h1 class="display-4">Hey, there!</h1>
    <p class="lead">Nice to have you here. I’m a UX & UI Designer based out of Hyderabad, India. For
      a living I Design & Develop Websites & Web Applications since MMX. </p>
      <p class="small">Available for freelance</p>
    <hr class="my-4">    
    <a class="btn btn-hallow" href="#" role="button">Learn More About Me ⇢</a>    
</div>

<div class="row">
  <h2 class="col-lg-12 text-center sub-title">Here’s what I can do to help:</h2>
  <div class="col-lg-4">
    <h5>User Experience Design</h5>
    <div class=""><img src="assets/img/ux.svg" alt="UX" width="64"></div>
    <p>Stakeholder Interaction, Requirements gathering, Brainstorm, IA, Wireframes, Interactive Prototypes, UCD, etc </p>
  </div>
  <div class="col-lg-4">
    <h5>User Interface Design</h5>
    <div class=""><img src="assets/img/ui.png" alt="UI"></div>
    <p>Create stunning UIs that make the user's interaction as simple and efficient as possible, in terms of accomplishing user goals.</p>
  </div>
  <div class="col-lg-4">
    <h5>Front-end Web Development</h5>
    <div class=""><img src="assets/img/fe.svg" alt="FE" width="64"></div>
    <p>Semantically &amp; Accessibly Code the User Interfaces using latest web technologies like HTML5, CSS4, Bootstrap4 & Angular. </p>
  </div>
</div>
<br class="my-5">  
</section>